nav{
    height: 45px;
}
a:hover:not(.nohover){
    background-color: hsl(204, 67%, 27%, 0.95);  
}
img{
    background-color: rgb(255, 255, 255);
    margin-top: 6px;
    
}
i{
    color: white;
}
.dikone{
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Incised';
}
.dikone:hover{
    color: white;
    text-decoration: none!important;
}
@font-face {
    font-family: Incised;
    src: url(../../../assets/fonts/Incised901W03Light.ttf);
}
@font-face {
    font-family: MuseoSans;
    src: url(../../../assets/fonts/MuseoSans-900.otf);
}
#currentUser{
    color: hsl(204, 67%, 27%, 0.95);
}
