<div class="main">
    <h1>Employee project </h1>
    <hr>
    <div class="icons d-flex flex-row-reverse py-2 px-1">
        <button type="button" (click)="showDialogDelete()" title="Delete job" class="btn btn-dark"
            [disabled]='selectedRow'>
            <i class="fas fa-trash"></i>
        </button>
        <button type="button" (click)="showDialog('Edit')" title="Edit job" class="btn btn-dark"
            [disabled]='selectedRow'>
            <i class="far fa-edit"></i>
        </button>
        <button type="button" (click)="showDialog('Create')" title="Add job" class="btn btn-dark">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <p-dialog header="{{option}} a employee project" [modal]="true" [responsive]="true" [(visible)]="display"
        [style]="{'min-width': '700px'}" [contentStyle]="{'min-height': '600px'}"
        [contentStyle]="{'overflow': 'visible'}">
        <div class="pop">
            <h2 *ngIf="option=='Create'">Enter information about the new employee project</h2>
            <h2 *ngIf="option=='Edit'">Edit information about employee project</h2>
            <div>
                <label for="jobName">Employee</label>
                <input *ngIf="option=='Edit'" type="text" class="form-control" id="firstNameSearch"
                    placeholder="{{employee.employeeId}}"  disabled>
                <div *ngIf="option=='Create'">
                    <div>
                        <select class="form-control" [(ngModel)]="employee.employeeId" placeholder="select">
                            <option *ngFor="let item of allEmployes" [value]="item.id">{{item.firstName}}
                                {{item.lastName}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="pressed && !employee.employeeId" class="alert alert-danger mt-3">
                        Employee is required.
                    </div>
                </div>
            </div>
            <div>
                <label for="jobName">Activity Code</label>
                <div>
                    <select class="form-control" [(ngModel)]="employee.activityCode">
                        <option *ngFor="let item of activity" [value]="item.code">{{item.name}}</option>
                    </select>
                </div>
                <div *ngIf="pressed && !employee.activityCode" class="alert alert-danger mt-3">
                    Activity code is required.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="birthDateSearch">Valid from</label>
                    <input type="date" class="form-control" id="birthDateSearch" placeholder="Birth Date"
                        [(ngModel)]="employee.validFrom" required>
                    <div *ngIf="pressed && !employee.validFrom" class="alert alert-danger mt-3">
                        Valid from is required.
                    </div>
                </div>
                <div class="col">
                    <label for="birthDateSearch">Valid to</label>
                    <input type="date" class="form-control" id="birthDateSearch" placeholder="Birth Date"
                        [(ngModel)]="employee.validTo" required>
                    <div *ngIf="pressed && !employee.validTo" class="alert alert-danger mt-3">
                        Valid to is required.
                    </div>
                </div>
            </div>
          
            <div class="text-right">
                <div *ngIf="option=='Create'" class="pt-4">
                    <button type="button" class="btn btn-dark" (click)="newEmployeeProject()" title="Add">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div *ngIf="option=='Edit'" class="pt-4">
                    <button type="button" class="btn btn-dark" (click)="editEmployeeProject()" title="Edit"><i
                            class="fa fa-pencil"></i></button>
                </div>
            </div>
        </div>
    </p-dialog>
    <p-dialog header="Delete an employee" [modal]="true" [responsive]="true" [(visible)]="displayDelete"
        [style]="{width: '700px'}" [contentStyle]="{'overflow': 'visible'}">
        <div class="pop">
            <h3>Delete the selected job</h3>
            <h6>Are you sure you want to delete this job?</h6>
            <div class="text-right">
                <button type="button" (click)="deleteEmployeeProject()" class="btn btn-dark">Confirm</button>
                <button type="button" (click)="cancle()" class="btn btn-dark">Cancel</button>
            </div>
        </div>
    </p-dialog>

    <ag-grid-angular class="ag-theme-balham-dark" [rowData]="rowData" [columnDefs]="columnDefs" [floatingFilter]="true"
        [rowDeselection]="true" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>